 @charset "utf-8";

/*@font-face {
  font-family: "Katwijk Regular";
  font-style: normal;
  src: url('../fonts/katwijk-mono-regular-web.woff2') format('woff2'),
      url('../fonts/katwijk-mono-regular-web.woff') format('woff'),
      url('../fonts/katwijk-mono-regular-web.ttf') format('truetype');
}*/

@font-face {
  font-family: "Katwijk Light";
  font-style: normal;
  src: url('../fonts/katwijk-mono-light-web.woff2') format('woff2'),
      url('../fonts/katwijk-mono-light-web.woff') format('woff'),
      url('../fonts/katwijk-mono-light-web.ttf') format('truetype');
}

@font-face {
  font-family: "Katwijk Bold";
  font-style: normal;
  src: url('../fonts/katwijk-mono-bold-web.woff2') format('woff2'),
       url('../fonts/katwijk-mono-bold-web.woff') format('woff'),
       url('../fonts/katwijk-mono-bold-web.ttf') format('truetype');
}

html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:regularer}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

*, body {
  font-family: 'Katwijk Light', monospace;

}

.small {
  text-decoration: underline;
  cursor: pointer;
}

body {
  background-color: black;
  color: #86EFAC;
}


/*
body {
  background-color: #46b848;
  color:  white;
}*/

.nb {
  white-space: nowrap;
}

.vg {
  font-family: 'Katwijk Bold';
}

/*Fade In*/
  .hidden {
      opacity: 0;
    }
  .visible {
      opacity: 1;
      transition: opacity 2s ease-out;
    }



/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #86EFAC; }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #86EFAC; }
}


h1 {
  /*padding-bottom: 3rem;*/
  font-size: 3.5rem;
  text-align: center;
  height: 3.5rem;
  font-family: 'Katwijk Bold';
  /*margin-bottom: 0rem;*/
  /*line-height: 1rem;*/
/*  margin-top: 2rem;*/
}

#recipename {
  font-style: regular;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  height: 1.5rem;
  margin-bottom: 0rem;
  font-family: 'Katwijk Light';
}





#titles {
  text-align: center;
}

#spin {
  padding-bottom: 2rem;
}



button {
  display: inline-block;
  font-family: 'Katwijk Light';
}


.container {
  padding-top: 50px;
  padding-bottom: 50px;
} 



a{
  color: #86EFAC;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  color: white;
}




.mainpage {
  margin: auto;
  position: relative;
  top: 2rem;
}

/* Footer */

footer {
  color: grey;
  margin-top: auto;
  margin-bottom: 2rem;
text-align: center;
font-family: 'Katwijk Light';
}


.thefooter {
  padding-top: 2rem;
}


.randomizeMachine {
  border: 1px solid white;
}

.col {
  max-width: 240px;
}

.randomizeMachine {
  height: 240px;
  max-width: 240px;
  margin: auto;
}

.machineResult {
  text-align: center;
  padding: 3rem 0rem;
  padding-bottom: 0rem;
}

.randomizeMachine img {
  max-width: 240px;
  /*filter: invert(1);*/

}

/*Caret*/

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }

}

h1::after {
  content: "";
  width: 5px;
  height: 2.6rem;
  position: relative;
  right: -5px;
  top:  5px;
  opacity: 1;
  background: #86EFAC;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}




/* Button Group */

button {
  font-family: 'Katwijk Bold';
}

.btn-group button {
  font-family: 'Katwijk Light';
}

.btn-group button, button{
  background-color: black; /* Green background */
  border: 1px solid #86EFAC; /* Green border */

  text-transform: uppercase;
  color: #86EFAC; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin: 0px;

}

button:hover {
  border-color: #86EFAC;
}

.btn-group button:not(:last-child) {
/*  border-right: none;  Prevent double borders */
  border-top-right-radius: none;
  border-bottom-right-radius: none;
}

.btn-group button:last-child {
  

}

.vegMachine {
  margin-top: 3rem;
  margin-bottom: 3rem;
}


/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}




/* Add a background color on hover */
.btn-group button:hover, button:hover {
  background-color: black;
  color:  white;
  border-color: white;
}

.btn-lg {
  font-size: 2rem;
  border-radius: 5px;
}

button:disabled {
  color:  grey;
  border-color: grey;
}

/*Mobile Styles*/


@media only screen and (min-width: 600px) {

#randomize {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;

}
}

#randomize {  
    display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1006px) {
  h1 {
    font-size: 2rem;
    margin: 0;
    padding-top: 0;
  }
  h1::after {
  content: "";
  width: 5px;
  height: 2rem;
  position: relative;
  right: -5px;
  top:  5px;
}
  #recipename {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 1rem;
    max-width: 280px;
  }
#vegetableMachine {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

#randomizeButton {
  margin-top: 0;
}

button {
  font-size: 1.5rem;
  margin: 0;

  padding: 1rem;
  margin-top: 1rem;


}

#spin {
  margin: 0;
  padding-bottom: 0.5;

}

.btn-group button {
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.machineResult {
  padding: 0.5rem;
}

.col {
  max-width: 140px;
}

.randomizeMachine {
  height: 140px;
  max-width: 140px;
  margin: auto;
}

.randomizeMachine img {
  max-width: 140px;


}

.thefooter {
  font-size: .75rem;
   max-width: 280px;
   padding-top: 1rem;
}


}


/*CRT*/

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
}


